<nav class="utility-nav">
    <a href="/" class="utility-nav__item">
        <i class="fas fa-home"></i>
        <span class="utility-nav__text">Home</span>
    </a>
    <a href="/games" class="utility-nav__item">
        <i class="fas fa-baseball-ball fa-fw"></i>
        <span class="utility-nav__text">Games</span>
    </a>
    <a href="/divisions" class="utility-nav__item">
        <i class="fas fa-shield-alt fa-fw"></i>
        <span class="utility-nav__text">Divisions</span>
    </a>
    <a href="/teams" class="utility-nav__item">
        <i class="fas fa-user-shield fa-fw"></i>
        <span class="utility-nav__text">Teams</span>
    </a>
    <a href="/players" class="utility-nav__item">
        <i class="fas fa-user-circle fa-fw"></i>
        <span class="utility-nav__text">Players</span>
    </a>
</nav>